public/xml-schema/mdc/identifiers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="https://github.com/DEFRA/ncea-geonetwork/tree/main/core-geonetwork/schemas/iso19139.mdc/src/main/plugin/iso19139.mdc/schema/mdc" elementFormDefault="qualified" version="0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:mdc="https://github.com/DEFRA/ncea-geonetwork/tree/main/core-geonetwork/schemas/iso19139.mdc/src/main/plugin/iso19139.mdc/schema/mdc">
    <!-- ================================= Annotation ================================ -->
    <xs:annotation>
        <xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 01-26-2005 12:40:01 ====== </xs:documentation>
    </xs:annotation>
    <!-- ================================== Imports ================================== -->
    <xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../gco/gco.xsd"/>
    <!-- ########################################################################### -->
    <!-- ########################################################################### -->
    <!-- ================================== Classes ================================= -->

	<!-- =========================================================================== -->
	<xs:complexType name="NC_Identifiers_Type">
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="project" type="mdc:NC_ProjectID_PropertyType"/>
					<xs:element name="masterReference" type="mdc:NC_MasterReferenceID_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="NC_Identifiers" type="mdc:NC_Identifiers_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="NC_Identifiers_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="mdc:NC_Identifiers"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->


	<!-- =========================================================================== -->
    	<xs:complexType name="MasterReferenceID_Type">
    		<xs:complexContent>
    			<xs:extension base="gco:AbstractObject_Type">
    				<xs:sequence>
                        <xs:element name="catalogueEntry" type="gco:CharacterString_PropertyType" minOccurs="0"/>
                        <xs:element name="sourceSystemReferenceID" type="gco:CharacterString_PropertyType" minOccurs="0"/>
    				</xs:sequence>
    			</xs:extension>
    		</xs:complexContent>
    	</xs:complexType>
    	<!-- ........................................................................ -->
    	<xs:element name="NC_MasterReferenceID" type="mdc:MasterReferenceID_Type"/>
    	<!-- ........................................................................ -->
    	<xs:complexType name="NC_MasterReferenceID_PropertyType">
    		<xs:sequence minOccurs="0">
    			<xs:element ref="mdc:NC_MasterReferenceID"/>
    		</xs:sequence>
    		<xs:attributeGroup ref="gco:ObjectReference"/>
    		<xs:attribute ref="gco:nilReason"/>
    	</xs:complexType>
    	<!-- =========================================================================== -->

    	<!-- =========================================================================== -->
            <xs:complexType name="ProjectID_Type">
                <xs:complexContent>
                    <xs:extension base="gco:AbstractObject_Type">
                        <xs:sequence>
                            <xs:element name="projectId" type="gco:CharacterString_PropertyType" minOccurs="0"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <!-- ........................................................................ -->
            <xs:element name="NC_ProjectID" type="mdc:ProjectID_Type"/>
            <!-- ........................................................................ -->
            <xs:complexType name="NC_ProjectID_PropertyType">
                <xs:sequence minOccurs="0">
                    <xs:element ref="mdc:NC_ProjectID"/>
                </xs:sequence>
                <xs:attributeGroup ref="gco:ObjectReference"/>
                <xs:attribute ref="gco:nilReason"/>
            </xs:complexType>
        <!-- =========================================================================== -->

</xs:schema>