public/xml-schema/mdc/metadataApplication.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.isotc211.org/2005/mdc" elementFormDefault="qualified" version="0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:mdc="http://www.isotc211.org/2005/mdc">
	<!-- ================================= Annotation ================================ -->
	<xs:annotation>
		<xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 01-26-2005 12:40:05 ====== </xs:documentation>
	</xs:annotation>
	<!-- ================================== Imports ================================== -->
	<xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../gco/gco.xsd"/>
	<xs:include schemaLocation="../mdc/metadataEntity.xsd"/>
	<!-- ########################################################################### -->
	<!-- ########################################################################### -->
	<!-- ================================== Classes ================================= -->
	<xs:complexType name="AbstractDS_Aggregate_Type" abstract="true">
		<xs:annotation>
			<xs:documentation>Identifiable collection of datasets</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="composedOf" type="mdc:DS_DataSet_PropertyType" maxOccurs="unbounded"/>
					<xs:element name="seriesMetadata" type="mdc:MD_Metadata_PropertyType" maxOccurs="unbounded"/>
					<xs:element name="subset" type="mdc:DS_Aggregate_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="superset" type="mdc:DS_Aggregate_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="AbstractDS_Aggregate" type="mdc:AbstractDS_Aggregate_Type" abstract="true"/>
	<!-- ........................................................................ -->
	<xs:complexType name="DS_Aggregate_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="mdc:AbstractDS_Aggregate"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->

	<!-- =========================================================================== -->
	<xs:complexType name="DS_DataSet_Type">
		<xs:annotation>
			<xs:documentation>Identifiable collection of data</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="has" type="mdc:MD_Metadata_PropertyType" maxOccurs="unbounded"/>
					<xs:element name="partOf" type="mdc:DS_Aggregate_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="DS_DataSet" type="mdc:DS_DataSet_Type"/>
	<!-- ........................................................................ -->
	
	<xs:complexType name="DS_DataSet_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="mdc:DS_DataSet"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	
</xs:schema>
